<div><h3><%= name %></h3></div>
<ul class="row shows">
	<% for(var i=0; i<shows.length; i++) {
		var rightNow = moment();
		var startTime = moment(new Date(shows[i].starttime));
		var endTime = moment(new Date(shows[i].endtime));
	%>
	   <li class="col-md-3">
	   		<div class="thumbnail">
	   		<% if(rightNow.isAfter(startTime) && rightNow.isBefore(endTime)){%>
	   		<span class="label label-danger pull-right">Live</span>
	   		<%}%>
	   			<div class="caption">
        			<h3><%= shows[i].name %></h3>
        			<p><%= startTime.format("dddd, MMMM Do YYYY <br/> @ <br/>h:mm a") %></p>	
      			</div>
	   		</div>
	   <br/>
	  

	   </li>
	<% } %>
</ul>
